### Indexing

In [ ]:
x = "frog"
print(x[3])


# List 
li = x = ["pig", "cow", "horse"]
print(x[1])

# tuple
tu = ("Kelvin", "Niklas", "Jenny", "Craig")
print(tu[0])

### Slicing 
Slice out substrings, sub-list, sub-tuples using indexes

```python
 [start: end+1: step]

In [ ]:
x = "computer"
print(x[1:4])
print(x[1:6:2])
print(x[3:])
print(x[:5])
print(x[-1])
print(x[-3])
print(x[:-2])

### Adding / Concatenating 
combine 2 sequences of the same type by using +

In [ ]:
x1 = "horse" + "shoe"
print(x)

# list
y1 = ['pig', 'cow'] + ['horse']
print(y1)

# tuple
z1 = ('Hudson', 'Kelvin', 'Jenny') + ('Craig',)
print(z1)

### Multiplying 
Multiply a sequence using *

In [ ]:
# string
x2 = "bug " * 3
print(x2)

# list
y2 = [8, 6] * 3
print(y2)

# Tuple
z2 = (2, 4) * 3
print(z2)

### Checking Membership
test whether an item is or not in a sequence

In [ ]:
# String
x3 = "bug"
print("u"in x3 )

# list
y3 = ["pig", "cow", "horse"]
print("cow" in y3)
to_upper = lambda x: x.upper()
list_upper = [to_upper(x) for x in y3 ]
print([to_upper(x) for x in y3 ])

# tuple
z3 = ('Hudson', 'Kelvin', 'Jenny', 'Craig')
print("Hudson" in z3)

### Iterating
iterating through the items in a sequence

In [ ]:
# item
x4 = [7, 8, 4]
for item in x4:
    print(item)

# index and item
y4 = [7, 8, 3]
for idx, item in enumerate(y4):
    print(idx, item)

### Number of items
count the number of items in a sequence

In [ ]:
x5 = "bug"
print(len(x5))

# List
y5 = ["pig", "cow", "house" ]
print(len(y5))

# tuple
z = ("Hudson", "Kelvin", "Joseph", "Prince", "Hannah")
print(len(z))

### Minimum
Find the minimum item in a sequence lexicographically.
Alpha or numeric types but cannot mix types

In [ ]:
# String
x = "bug"
print(min(x))

# List
y = ["pig", "cow", "house" ]
print(min(y))

z = ("Hudson", "Kelvin", "Joseph", "Prince", "Hannah")
print(min(z))

### Maximum
Find the maximum item in a sequence lexicographically.
Alpha or numeric types but cannot mix types

In [ ]:
# String
x = "bug"
print(max(x))

# List
y = ["pig", "cow", "house" ]
print(max(y))

z = ("Hudson", "Kelvin", "Joseph", "Prince", "Hannah")
print(max(z))

### Sum - <small> find the sum of items in a sequence </small>

In [ ]:
from functools import reduce
# String -> error
# x = [5, 76, "bug"]
# print(sum(x)) # generates an error

# list
yx = [2, 5, 6, 7,12]
print(sum(yx))
sum_value = reduce(lambda x,y: x + y, yx)
print(sum_value)

### Sorting 
returns a new list of items in sorted order. Does not change the original list.

In [ ]:
# string
x = "bug"

# list
y = ["pig", "cow", "horse"]
print(sorted(y))

# tuple
z = ("Kelvin", "Niklas", "Jenny", "Craig")
print(sorted(z))

print(sorted(z, key=lambda x: x[1]))

### unpacking - Unpack the items of a sequence into n variables

In [ ]:
x = ['Pig', 'cow', 'horse']
a, b, c = x
print((a, b, c,))

### List
#### sortable

In [ ]:
x = list()

y = ["a", 2, "dog"]
tuple1 = (10, 20)
z = list(tuple1)

print(z)

# List compression
a = [m for m in range(8)]
print(a)

b = [i**2 for i in range(10) if i > 4]

### Index (item)

In [ ]:
# string
x = "hippo"
print(x.index('p'))

# list
y =  ['Pig', 'cow', 'horse']
print(y.index("cow"))

# tuple
z = ("Kelvin", "Niklas", "Jenny", "Craig")
print(z.index("Niklas"))

### Constructors
<p>Creating a new list </p>

In [ ]:
x = list()
y = ['a', 25, 'dog', 8.43]
tuple1 = (10, 20)
z = list(tuple1)

# list compression
a = [m for m in range(8)]
print(a)
mul = lambda x: x**2
b = [mul(i) for i in range(10) if i>4]

print(b)

### Insert - Insert an item at a given index

In [ ]:
x = [5, 3, 8, 6]
x.insert(1, ["change", "Container"])
print(x)

In [ ]:
nested_list = [["apple","orange"], ["banana", "grape"]]
flattened_list = [item for sublist in nested_list  for item in sublist]

box = []
for items in nested_list:
    for item in items:
        box.append(item)

print(box)
print(flattened_list)

## Tuples
### 1. Create a tuple with at least three elements and access the first element using indexing (e.g., my_tuple[0]).
//Tuple is a collection of objects which are ordered and immutable. It can contain elements of different data types, such as numbers, strings
### 2. Immutable (can't change/add)
- A tuple is a collection of objects that are ordered and immutable.
- The term "immutable" means unchangeable; once created, the value of an object cannot be altered.
- Tuple elements must be of different data types.
python tuples = () or list of values enclosed in parentheses.
pytuples = ("apple", "banana", "cherry")

### 3. Accessing Elements
Accessing elements using indexing: 
python my_tuple[0] # returns 'apple'

Slicing:
A way to access multiple elements at once by specifying a range of indices.
Syntax: tuple[start:stop:step] where start & stop are inclusive, step is optional.
python my_tuple[1:3]   

```pythoon # returns ('banana', 'cherry')
            # same as python my_tuple[1:4] or python my_tuple[:3]
```
Flattening Lists:
If you have nested lists and want to flatten them into one single list, use the * operator.
nested_list = [["apple","orange"], ["banana", "grape"]]
flattened_list = *nested_list
print(flattened_list)       # Output: ['apple','orange','banana','grape']

Tuple Methods:
1. len() - Returns the number of items in a tuple.
2. sum() - Returns the sum of all the items in a tuple.
3. max(), min() - Return the largest item or smallest item in a tuple.
4. count() - Count how many times a specified value appears in the tuple.
5. index() - Find the index position of a specified value in the tuple. Raises ValueError if not found.
6. find() - Like index(), but returns -1 if the value is not found.
7. sort() - Sorts the items in a tuple. It does not return any value; it modifies the original tuple.
8. reverse() - Reverses the order of items in a tuple. It also doesnâ€™t return any value; it modifies the original tuple

In [20]:
x = ()
x1 = (1, 2,3)
print(type(x1)) # <class 'tuple'>
xy = 2,
print(xy)

<class 'tuple'>
(2,)